#backround{
    background-color: #000000;
}
#textbody{
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: rgb(218, 218, 218);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#textbody:hover{
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1.3s infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
}

#textbody2web{
    text-align: center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 280%);
    color: rgb(218, 218, 218);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#logobody{
    text-align:center;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 150%);

}
.fa{
    padding: 15px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 3px 1px;
    color: #8f0000;   
}
.fa:hover{
    transform: scale(1.20);
    transition: transform 250ms;
}
     
#foto{
    padding: 0px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -106%);
    width: 250px;
    margin: 3px 1px;
    border-radius: 50%;
    box-shadow: 0 0 50px 0  #8f0000 ;
}
